.cursor-purple {
  cursor: url(./../img/png/purple.png), auto;
}

.cursor-black {
  cursor: url(./../img/png/black.png), auto;
}

.cursor-red {
  cursor: url(./../img/png/red.png), auto;
}

.cursor-blue {
  cursor: url(./../img/png/blue.png), auto;
}

.cursor-dark-blue {
  cursor: url(./../img/png/dark-blue.png), auto;
}

.cursor-brown {
  cursor: url(./../img/png/brown.png), auto;
}

.cursor-orange-brown {
  cursor: url(./../img/png/orange-brown.png), auto;
}

.cursor-grey-brown {
  cursor: url(./../img/png/grey-brown.png), auto;
}

.cursor-light-brown {
  cursor: url(./../img/png/light-brown.png), auto;
}

.cursor-grey {
  cursor: url(./../img/png/grey.png), auto;
}

.cursor-dark-grey {
  cursor: url(./../img/png/dark-grey.png), auto;
}

.cursor-green {
  cursor: url(./../img/png/green.png), auto;
}

.cursor-light-green {
  cursor: url(./../img/png/light-green.png), auto;
}

.cursor-dark-green {
  cursor: url(./../img/png/dark-green.png), auto;
}

.cursor-turquoise {
  cursor: url(./../img/png/turquoise.png), auto;
}

.cursor-yellow {
  cursor: url(./../img/png/yellow.png), auto;
}

.purple {
  background-color: #442434;
}

.black {
  background-color: #140c1c;
}

.red {
  background-color: #d04648;
}

.blue {
  background-color: #597dce;
}

.dark-blue {
  background-color: #30346d;
}

.brown {
  background-color: #854c30;
}

.orange-brown {
  background-color: #d27d2c;
}

.grey-brown {
  background-color: #757161;
}

.light-brown {
  background-color: #d2aa99;
}

.grey {
  background-color: #8595a1;
}

.dark-grey {
  background-color: #4e4a4e;
}

.green {
  background-color: #6daa2c;
}

.light-green {
  background-color: #deeed6;
}

.dark-green {
  background-color: #346524;
}

.turquoise {
  background-color: #6dc2ca;
}

.yellow {
  background-color: #dad45e;
}

#popup-section {
  position: fixed;
  bottom: 10px;
  right: 150px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}
#popup-section > div {
  width: 200px;
  position: relative;
  background-color: #8595a1;
  padding: 20px;
  margin: 0 0 0 10px;
  height: 70px;
  border-radius: 10px;
}
#popup-section > div p {
  color: white;
  margin-top: 10px;
}
#popup-section > div .cross {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
#popup-section > div .cross:hover i {
  color: white;
}

.radio {
  display: flex;
  margin: 10px 0;
}
.radio p {
  padding: 10px;
  background-color: #8595a1;
  color: black;
  cursor: pointer;
}
.radio p:hover {
  background-color: #4e4a4e;
  color: white;
}
.radio p.selected {
  background-color: #854c30;
  color: white;
}
.radio::before, .radio::after {
  content: "";
  width: 20px;
  height: 39px;
  background-color: #8595a1;
}
.radio::before {
  border-radius: 10px 0 0 10px;
}
.radio::after {
  border-radius: 0 10px 10px 0;
}

.hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6, p, a, li, th, td, label {
  font-family: "ubuntu-r";
}

p {
  margin: 0;
}

@font-face {
  font-family: "ubuntu-b";
  src: url("../font/Ubuntu-B.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-bi";
  src: url("../font/Ubuntu-BI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-c";
  src: url("../font/Ubuntu-C.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-l";
  src: url("../font/Ubuntu-L.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-li";
  src: url("../font/Ubuntu-LI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-m";
  src: url("../font/Ubuntu-M.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-mi";
  src: url("../font/Ubuntu-MI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-r";
  src: url("../font/Ubuntu-R.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-ri";
  src: url("../font/Ubuntu-RI.ttf") format("truetype");
}
body {
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body h1 {
  margin: 10px;
}
body aside {
  display: flex;
  margin-bottom: 10px;
}
body aside div {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
body aside div.select {
  border-radius: 90px;
  margin: 0 5px 0 5px;
}
body #main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #main section {
  display: flex;
}
body #main section .camera {
  margin: 10px;
  border-width: 3px;
  border-style: solid;
  position: relative;
}
body #main section .camera#width {
  border-color: #d04648;
  transform: skew(0, -30deg);
}
body #main section .camera#width aside {
  border: #d04648 3px solid;
  background-color: #d04648;
  right: -31px;
  border-radius: 0 10px 10px 0;
}
body #main section .camera#height {
  border-color: #6daa2c;
  transform: scale(1, 0.5) rotate(45deg);
}
body #main section .camera#height aside {
  border: #6daa2c 3px solid;
  background-color: #6daa2c;
  left: -31px;
  border-radius: 10px 0 0 10px;
}
body #main section .camera#depth {
  border-color: #597dce;
  transform: skew(0, 30deg);
}
body #main section .camera#depth aside {
  border: #597dce 3px solid;
  background-color: #597dce;
  left: -31px;
  border-radius: 10px 0 0 10px;
}
body #main section .camera#isometry {
  border-color: transparent;
}
body #main section .camera#isometry .depth {
  position: absolute;
}
body #main section .camera#isometry .depth .width {
  position: absolute;
}
body #main section .camera#isometry .depth .width svg {
  position: absolute;
}
body #main section .camera#width, body #main section .camera#height, body #main section .camera#depth {
  cursor: pointer;
}
body #main section .camera#width > div, body #main section .camera#height > div, body #main section .camera#depth > div {
  display: flex;
}
body #main section .camera#width > div > div, body #main section .camera#height > div > div, body #main section .camera#depth > div > div {
  width: 25px;
  height: 25px;
}
body #main section .camera#width > div > div:hover, body #main section .camera#height > div > div:hover, body #main section .camera#depth > div > div:hover {
  background-color: #442434;
}
body #main section .camera#width aside, body #main section .camera#height aside, body #main section .camera#depth aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 25px;
  top: -3px;
}
body #main section .camera#width aside > p, body #main section .camera#height aside > p, body #main section .camera#depth aside > p {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body #main section .camera#width aside > p:hover, body #main section .camera#height aside > p:hover, body #main section .camera#depth aside > p:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
body #main section .camera#width aside > p.selected, body #main section .camera#height aside > p.selected, body #main section .camera#depth aside > p.selected {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

#svg-selection {
  position: relative;
}

/*# sourceMappingURL=main.css.map */
