@use 'modules/homepage'
@use "./var"

body
    display: flex
    align-items: center
    flex-direction: column

    h1
        margin: 10px

    aside
        display: flex
        margin-bottom: 10px

        div
            width: 40px
            height: 40px
            cursor: pointer

            &.select
                border-radius: 90px
                margin: 0 5px 0 5px

    #main
        display: flex
        flex-direction: column
        align-items: center

        section
            display: flex

            .camera
                margin: 10px
                border-width: 3px
                border-style: solid
                position: relative

                &#width
                    border-color: var.$red
                    transform: skew(0, -30deg)

                    aside
                        border: var.$red 3px solid
                        background-color: var.$red
                        right: -31px
                        border-radius: 0 10px 10px 0

                &#height
                    border-color: var.$green
                    transform: scale(1, 0.5) rotate(45deg)

                    aside
                        border: var.$green 3px solid
                        background-color: var.$green
                        left: -31px
                        border-radius: 10px 0 0 10px

                &#depth
                    border-color: var.$blue
                    transform: skew(0, 30deg)

                    aside
                        border: var.$blue 3px solid
                        background-color: var.$blue
                        left: -31px
                        border-radius: 10px 0 0 10px

                &#isometry
                    border-color: transparent

                    .depth
                        position: absolute

                        .width
                            position: absolute

                            svg
                                position: absolute

                &#width, &#height, &#depth
                    cursor: pointer
                    & > div
                        display: flex

                        & > div
                            width: 25px
                            height: 25px

                            &:hover
                                background-color: var.$purple

                &#width, &#height, &#depth
                    aside
                        position: absolute
                        display: flex
                        flex-direction: column
                        width: 25px
                        top: -3px

                        & > p
                            width: 25px
                            height: 25px
                            // background-color: var.$red
                            display: flex
                            justify-content: center
                            align-items: center
                            cursor: pointer

                            &:hover
                                background-color: hsla(0, 0%, 0%, 0.20)
                                border-radius: 10px
                            
                            &.selected
                                background-color: hsla(0, 0%, 100%, 0.50)
                                border-radius: 10px

#svg-selection
    position: relative