// Centralization of all variables

// Breakpoints

$bp: ('phone': 320px, 'tablet': 768px, 'desktop': 1024px, 'large': 1200px)

// Colors

$purple: #442434
$black: #140c1c
$red: #d04648
$blue: #597dce
$dark-blue: #30346d
$brown: #854c30
$orange-brown: #d27d2c
$grey-brown: #757161
$light-brown: #d2aa99
$grey: #8595a1
$dark-grey: #4e4a4e
$green: #6daa2c
$light-green: #deeed6
$dark-green: #346524
$turquoise: #6dc2ca
$yellow: #dad45e

.cursor-purple
    cursor: url(./../img/png/purple.png),auto
.cursor-black
    cursor: url(./../img/png/black.png),auto
.cursor-red
    cursor: url(./../img/png/red.png),auto
.cursor-blue
    cursor: url(./../img/png/blue.png),auto
.cursor-dark-blue
    cursor: url(./../img/png/dark-blue.png),auto
.cursor-brown
    cursor: url(./../img/png/brown.png),auto
.cursor-orange-brown
    cursor: url(./../img/png/orange-brown.png),auto
.cursor-grey-brown
    cursor: url(./../img/png/grey-brown.png),auto
.cursor-light-brown
    cursor: url(./../img/png/light-brown.png),auto
.cursor-grey
    cursor: url(./../img/png/grey.png),auto
.cursor-dark-grey
    cursor: url(./../img/png/dark-grey.png),auto
.cursor-green
    cursor: url(./../img/png/green.png),auto
.cursor-light-green
    cursor: url(./../img/png/light-green.png),auto
.cursor-dark-green
    cursor: url(./../img/png/dark-green.png),auto
.cursor-turquoise
    cursor: url(./../img/png/turquoise.png),auto
.cursor-yellow
    cursor: url(./../img/png/yellow.png),auto

.purple
    background-color: $purple
.black
    background-color: $black
.red
    background-color: $red
.blue
    background-color: $blue
.dark-blue
    background-color: $dark-blue
.brown
    background-color: $brown
.orange-brown
    background-color: $orange-brown
.grey-brown
    background-color: $grey-brown
.light-brown
    background-color: $light-brown
.grey
    background-color: $grey
.dark-grey
    background-color: $dark-grey
.green
    background-color: $green
.light-green
    background-color: $light-green
.dark-green
    background-color: $dark-green
.turquoise
    background-color: $turquoise
.yellow
    background-color: $yellow

#popup-section
    position: fixed
    bottom: 10px
    right: 150px
    display: flex
    justify-content: flex-end
    z-index: 1

    & > div
        width: 200px
        position: relative
        background-color: $grey
        padding: 20px
        margin: 0 0 0 10px
        height: 70px
        border-radius: 10px

        p
            color: white
            margin-top: 10px

        .cross
            position: absolute
            height: 20px
            width: 20px
            top: 0
            right: 0
            padding: 10px
            text-align: center
            cursor: pointer
                
            &:hover i
                color: white

// Many button as radio

.radio
    display: flex
    margin: 10px 0

    p
        padding: 10px
        background-color: $grey
        color: black
        cursor: pointer
        
        &:hover
            background-color: $dark-grey
            color: white

        &.selected
            background-color: $brown
            color: white

    &::before, &::after
        content: ""
        width: 20px
        height: 39px
        background-color: $grey

    &::before
        border-radius: 10px 0 0 10px
 
    &::after
        border-radius: 0 10px 10px 0

// Hidden

.hidden
    display: none

// Fonts

$main-font: "ubuntu-r"

h1, h2, h3, h4, h5, h6, p, a, li, th, td, label
    font-family: $main-font

p
    margin: 0

// Ubuntu

@font-face
    font-family: "ubuntu-b"
    src: url("../font/Ubuntu-B.ttf") format("truetype")

@font-face
    font-family: "ubuntu-bi"
    src: url("../font/Ubuntu-BI.ttf") format("truetype")

@font-face
    font-family: "ubuntu-c"
    src: url("../font/Ubuntu-C.ttf") format("truetype")

@font-face
    font-family: "ubuntu-l"
    src: url("../font/Ubuntu-L.ttf") format("truetype")

@font-face
    font-family: "ubuntu-li"
    src: url("../font/Ubuntu-LI.ttf") format("truetype")

@font-face
    font-family: "ubuntu-m"
    src: url("../font/Ubuntu-M.ttf") format("truetype")

@font-face
    font-family: "ubuntu-mi"
    src: url("../font/Ubuntu-MI.ttf") format("truetype")

@font-face
    font-family: "ubuntu-r"
    src: url("../font/Ubuntu-R.ttf") format("truetype")

@font-face
    font-family: "ubuntu-ri"
    src: url("../font/Ubuntu-RI.ttf") format("truetype")

// Etude sur un cube isométrique créé en CSS partiellement fonctionel
// https://codepen.io/Mythical/pen/xGVMEJ
// https://jsfiddle.net/joshnh/W65LY/
// http://brenna.github.io/csshexagon/
// https://developer.mozilla.org/fr/docs/Web/SVG/Tutorial/Paths
// https://www.motiontricks.com/creating-dynamic-svg-elements-with-javascript/
// https://petercollingridge.appspot.com/svg-optimiser
// https://outils-css.aliasdmc.fr/generateur-de-triangles-css.php
